*.iml
.kotlin
.gradle
.idea
.DS_Store
build
captures
.externalNativeBuild
.cxx
local.properties
xcuserdata
.env*
*.keystore

gradle/extended/

**/Pods
**/xcuserdata/
**/.env
lambda/index*

google-services.json
vopenia-service-crendentials.json